<div id="intro" class="view">

    <div class="mask rgba-black-strong">
        <br>
        <br>
        <br>
        <br>


        <div class="container-fluid d-flex align-items-center justify-content-center h-100">

            <div class="row d-flex justify-content-center text-center">

                <div class="col-md-12">


                    <h2>Covid 19</h2>


                </div>

            </div>

        </div>

    </div>
</div>