{{!-- <div class="col-6 col-md-4">
    <div id="fullList" class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
            <div class="d-flex w-100 justify-content-between">
                <h5 id="articleTitle">List group item heading</h5>
                <small class="articleDate">3 days ago</small>
            </div>
            <p class="articleSnippet">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
                varius blandit.</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 id="articleTitle">List group item heading</h5>
                <small class="articleDate">3 days ago</small>
            </div>
            <p class="articleSnippet">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
                varius blandit.</p>
        </a>
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 id="articleTitle">List group item heading</h5>
                <small class="articleDate">3 days ago</small>
            </div>
            <p class="articleSnippet">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus
                varius blandit.</p>
        </a>
    </div>
</div> --}}

{{!-- <script id="fullList" type="text/template"> --}}
<div>
    <h1>Covid Object</h1>
    {{"covid"}}
</div>
<ul>
    {{#each articles}}
    <li>{{name}}</li>
    {{!-- <li id="articleTitle"> {{ result.response.docs[i].headline.main }} </li> --}}
    {{/each}}
</ul>
{{!-- </script> --}}