<div id="introMain" class="view">

    <div class="mask rgba-black-strong">
        <br>
        <br>
        <br>
        <br>


        <div class="container-fluid d-flex align-items-center justify-content-center h-100">

            <div class="row d-flex justify-content-center text-center">

                <div class="col-md-10">

                    <!-- Heading -->
                    <h2 class="display-4 font-weight-bold white-text pt-5 mb-2" style="color:midnightblue">IF YOU STAY
                        READY
                        YOU AIN'T GOTTA GET
                        READY</h2>

                    <!-- Divider -->
                    <hr class="hr-light">

                    <!-- Description -->
                    <h4 class="white-text my-4"></h4>


                </div>

            </div>

        </div>

    </div>
</div>