<div id="intro" class="view">

    <div class="mask rgba-black-strong">
        <br>
        <br>
        <br>
        <br>


        <div class="container-fluid d-flex align-items-center justify-content-center h-100">

            <div class="row d-flex justify-content-center text-center">

                <div class="col-md-12">

                    <!-- Heading -->
                    <!-- <h2 class="display-4 font-weight-bold white-text pt-5 mb-2">Information About Our Site</h2>

                            Divider
                            <hr class="hr-light">

                            Description -->
                    <!-- <h4 class="white-text my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Deleniti consequuntur.</h4> -->
                    <h2>Login</h2>
                    <form class="login">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control" id="email-input" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control" id="password-input" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-light">Login</button>
                    </form>

                </div>

            </div>

        </div>

    </div>
</div>