form.signup,
form.login {
  margin-top: 50px;
  width: 300px;
}

html,
body,
header,
#intro {
  height: 100%;
  color: white;
  font-family: 'Dosis', sans-serif;
}

#intro {
  background: url("../img/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.top-nav-collapse {
  background-color: #24355c;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355c;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355c;
  }
}
<<<<<<< HEAD
=======

/* .clearfix::after {
  content: "";
  clear: both;
  display: table;
} */
>>>>>>> 2c853922b5c617e2a380d2e2746c70404a7a8ec2
