form.signup, form.login {
  margin-top: 50px;
  width: 300px;
}

html, body, header, #intro {
  height: 100%;
  color: white;
  font-family: 'Dosis', sans-serif;
}

#intro {
  background: url("../img/background.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.top-nav-collapse {
  background-color: #24355C;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355C;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355C;
  }
}

/* .clearfix::after {
  content: "";
  clear: both;
  display: table;
} */

button{

  background-color: white;
}

table{
  margin: 20px;
}

td {

  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.item-number-update{

  width: 50px;
  text-align: center;
}

.list-entry{
  border: solid thin white;
  padding: 10px;
}