form.signup, form.login {
  margin-top: 50px;
  width: 300px;
}

 header, #intro {
  height: 100%;
  color: white;
  font-family: 'Dosis', sans-serif;
}

html,body{

  height: auto;
  color: white;
  font-family: 'Dosis', sans-serif;
  background-color: black;
}

#intro {
  background: url("../img/background.jpg")no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.top-nav-collapse {
  background-color: #24355C;
}

.view{

  margin-top: 50px;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355C;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: #24355C;
  }
}

/* .clearfix::after {
  content: "";
  clear: both;
  display: table;
} */

button{

  background-color: gray;
  color: white;
}

table{
  margin: 20px;
}

td {

  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.item-number-update{

  width: 50px;
  text-align: center;
}
.form-control-sm{
  height: fit-content;
  margin: 5px;
  
}
.list-entry{
  border: solid thin white;
  padding: 10px;
}

.container-fluid{

  padding: 5px;
}

input{

  margin: 2px;
}

.add-button-area{

  border-top: thin solid white;
  padding-top: 5px;
}

.item-list{

  line-height: 5px;
  text-align: center;

}

.list-row{

  border: thin solid white;
  margin-bottom: 5px;
  margin-top: 5px;
  padding-bottom: 5px;
}

.btn-dark{
  border: thin solid white;
}